# Retail warehouse

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=retail_dw
POSTGRES_USER=retail
POSTGRES_PASSWORD=change_me

# Product API

PRODUCT_API_URL=http://localhost:8000/products

# Airflow shared JWT secret
# Generate using:
# openssl rand -hex 32

AIRFLOW_JWT_SECRET=change_me